.layout-motion {
  position: relative;
  background: #000; /* Fondo oscuro */
  height: 100%; /* Ajusta según sea necesario */
  /*overflow: hidden; /* Para ocultar el desbordamiento de las luces */
}

.circle {
  position: absolute;
  border-radius: 50%;
  opacity: 0.6;
  filter: blur(50px); /* Efecto de desenfoque */
  transition: transform 4s ease-out; /* Transición más lenta para el movimiento */
  /* z-index: 1;  */
}

.circle1 {
  width: 300px;
  height: 300px;
  background: radial-gradient(
    circle,
    rgba(255, 0, 0, 0.5),
    rgba(255, 255, 0, 0.5)
  );
  top: 20%;
  left: 30%;
}

.circle2 {
  width: 400px;
  height: 400px;
  background: radial-gradient(
    circle,
    rgba(0, 255, 0, 0.5),
    rgba(0, 255, 255, 0.5)
  );
  top: 50%;
  left: 60%;
}

.circle3 {
  width: 500px;
  height: 500px;
  background: radial-gradient(
    circle,
    rgba(0, 0, 255, 0.5),
    rgba(255, 0, 255, 0.5)
  );
  top: 70%;
  left: 40%;
}
