.preloader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
  color: #f0f0f0;
}

footer {
  /* background: ; */
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}

.imagen-footer {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  height: 3rem;
  z-index: 10; /* Asegura que la imagen esté por encima de otros elementos si es necesario */
}
