@import url('https://pro.fontawesome.com/releases/v6.0.0-beta1/css/all.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap'); /* Importa una fuente de Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

.imagen-centrada {
    float: right; /* Centra horizontalmente el contenido */
}

.container-title {
 padding: 4rem 0;
}

button.neumorphic {
  container-type: inline-size;
  aspect-ratio: 1/1;
  border: 0.5rem solid transparent;
  border-radius: 1rem;
  color: hsl(0, 3%, 53%);
  background:  black;
  display: grid;
  place-content: center;
  gap: 1rem;
  
  --shadow: 
    -.1rem -.1rem 0.6rem hsl(0 0% 100% / .75),
    .1rem .1rem 0.6rem hsl(0 0% 50% / .5);
  box-shadow: var(--shadow);
  outline: none;  
  transition: all 0.1s;
  
  &:hover, &:focus-visible {
    background: rgb(209, 209, 209);
    color: hsl(10, 95%, 46%);
    transform: scale(1.1);
    box-shadow: .1rem .1rem 0.6rem hsla(0, 0%, 35%, 0.5);
    transition: all 0.2s ease;
  }

  &:active, &.active{
    box-shadow:
      var(--shadow),
      inset .1rem .1rem 0.6rem hsl(0 0% 50% / .5),
      color hsl(10 80% 50%);
    > i { font-size: 28cqi};
    > span { font-size: 13cqi};
  }

  >i {
    font-size: 31cqi;
  }
  > span {
    font-family: system-ui, sans-serif;
    font-size: 15px;
  }
}

body {
  background-image: url('fondoII.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #01010d;
}

h1 {
  font-size: 4rem;
    color: #fff;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5);
    font-family: 'Playwrite GB S', cursive, sans-serif;
    margin: 0;
    padding: 20px;
    border-radius: 15px;
    
    /*
    text-align: center;
    color: hsl(0, 20%, 96%);
    font-family: 'Roboto', sans-serif;
    font-size: 2.5em; */
    
}

.buttons {
  display: grid;
  width: min(75rem, 100%);
  margin-inline: auto;
  grid-template-columns: repeat(auto-fit, minmax(min(8rem, 100%), 1fr));
  gap: 2rem;
}
footer {
  /* background: gray; */
  position: absolute;
  width:100%;
  bottom: 1rem;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}

.imagen-footer {
  display: block; /* Muestra la imagen como un bloque */
  margin-top: 30px; /* Espacio entre el contenido del footer y la imagen */
  max-width: 100%; /* Ajusta el ancho máximo de la imagen */
  float: right;
  height: 4rem;
}